{%extends 'layout.html'%}
{%block pestaña%}pagína de inicio{%endblock%}
{%block body%}
<header>
    <h1>UNILAB</h1>
    <img src="../static/assets/img/logo_unillanos.png" alt="">
</header>

<div class="contenedor_principal">

    <div class="contenedor_inicios">

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <h2>laboratorio de química</h2>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <h2>laboratorio de química</h2>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <h2>laboratorio de química</h2>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <h2>laboratorio de química</h2>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <h2>laboratorio de química</h2>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <h2>laboratorio de química</h2>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <h2>laboratorio de química</h2>

            </div>
        </div>






    </div>
  
    

</div>












{%endblock%}
