{%extends 'layout.html'%}
{%block pestaña%}pagína de inicio{%endblock%}
{%block body%}
<header>
    <h1>UNILAB</h1>
    <img src="../static/assets/img/logo_unillanos.png" alt="">
</header>

<div class="contenedor_principal">

    <div class="contenedor_inicios">

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="{{url_for('ini_sesion')}}"><h2>Laboratorio de química</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de parasitología</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de electrónica</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de suelos</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de control biológico</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio veterinario</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de histopatología</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de entomología</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio polifuncional</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de microbiología</h2></a>

            </div>
        </div>

        <div class="inicios" style="background-image:url('../static/assets/img/5.png');">
            <div class="textos">
                <a href="#"><h2>Laboratorio de física</h2></a>

            </div>
        </div>






    </div>
  
    

</div>












{%endblock%}
