{%extends 'layout.html'%}
{%block pestaña%}inicio de sesion{%endblock%}
{%block body%}

<header>
    <header>
        <h1>iniciar sesion</h1>
    </header>

</header>

<div class="contenedor_ini_sesiones">
    <form action="">
        <div>
            <label  for="usuario">usuario</label>
            <input type="text">
        </div>

        <div>
            <label for="contraseña">contraseña</label>
            <input type="password">
        </div>
        
        <button type="submit">ingresar</button>
        

        <a href="{{url_for('index')}}">regresar</a>



    </form>
</div>
 




    



{%endblock%}