{%extends 'layout.html'%}
{%block pestaña%}inicio de sesion{%endblock%}
{%block body%}



<header>
    <header>
        <h1>iniciar sesión</h1>
    </header>

</header>

<div class="contenedor_ini_sesiones">
    <div>
        <img src="../static/assets/img/logo_unillanos.png" alt="" class="logo2">
        
    </div>
   
    <form action="#">

        <div class="ingreso_correo">
            <label  for="correo">correo electrónico</label>
            <input type="email">
        </div>

        <div class="ingreso_password">
            <label for="contraseña">contraseña</label>
            <input type="password">
        </div>
        
        <button type="submit">ingresar</button>

        
        

        <a class="segundo_boton" href="{{url_for('index')}}">regresar</a>



    </form>


</div>


 




    



{%endblock%}