{%extends 'layout.html'%}
{%block pestaña%}registro{%endblock%}
{%block body%}



<header>
    <header>
        <h1>laboratorio de quimica</h1>
    </header>

</header>

<div class="contenedor_ini_sesiones">
    <div>
        <img src="../static/assets/img/logo_unillanos.png" alt="" class="logo2">
        
    </div>
</div>

<div class="contenedor_principal_sesion_iniciada">

    <div class="contenedor_inicios_sesion_iniciada">

        <a href="#">
            <div class="inicios_sesion_iniciada" style="background-image: url(../static/assets/img/quimica.png);">
                <div class="textos">
                    <h2>ver registros</h2>

                </div>

            </div>
        </a>
       
    </div>

</div>
{%endblock%}