{%extends 'layout.html'%}
{%block pestaña%}inicio de sesion{%endblock%}
{%block body%}

<header>
    <header>
        <h1>Iniciar sesión</h1>
    </header>

</header>

<div class="contenedor_ini_sesiones">
    <div>
        <img src="../static/assets/img/logo_unillanos.png" alt="" class="logo2">
        
    </div>
   
    <form action="{{url_for('RecuperarPassword')}}" method="post">

        <div class="ingreso_correo">
            <label  for="correo_electronico">correo electrónico</label>
            <input type="email" name="correo_electronico" placeholder="ejem: @gmail.com">
        </div>

        <button type="submit">Enviar</button>


        <a class="segundo_boton" href="{{url_for('ini_sesion')}}">regresar</a>


    </form>

</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    
{% for category, message in messages %}

{% if category == 'warning'%}
<div class="tex_mensaje">
    <h2 class="tex_mensaje2">{{ message }}</h2>

</div>


{%endif%}
      
{% endfor %}
    
{% endif %}
{% endwith %}


<h2 class="tex_reestablecer_contraseña">por favor ingrese el correo con el que se registro</h2>





{%endblock%}



