{%extends 'layout.html'%}
{%block pestaña%}inicio de sesion{%endblock%}
{%block body%}



<header>
    <header>
        <h1>Reestablecer contraseña</h1>
    </header>

</header>

<div class="contenedor_ini_sesiones">
    <div>
        <img src="../static/assets/img/logo_unillanos.png" alt="" class="logo2">
        
    </div>
   
    <form action="#">

        <div class="ingreso_correo">
            <label  for="correo_electronico">correo electrónico</label>
            <input type="email" name="correo_electronico">
        </div>

        <button type="submit">enviar</button>

        <a class="segundo_boton" href="{{url_for('index')}}">regresar</a>
        
    </form>

</div>

<div class="tex_reestablecer_contraseña">
    <h2>por favor ingrese el correo electrónico con el que se registro</h2>

</div>




{%endblock%}