{%extends 'layout.html'%}
{%block pestaña%}registro{%endblock%}
{%block body%}

<header>
    <header>
        <h1>registros</h1>
    </header>

</header>


<div class="contenedor_principal_sesion_iniciada">

    <div class="contenedor_inicios_sesion_iniciada">
        <a href="{{url_for('quimica')}}">
            <div class="inicios_sesion_iniciada" style="background-image: url(../static/assets/img//atras.png);"></div>
        </a>
        <div class="textos_sesion_iniciada">
            <h2>Regresar</h2>
        </div>

    </div>

    <div class="contenedor_inicios_sesion_iniciada">
        <a href="#">
            <div class="inicios_sesion_iniciada" style="background-image: url(../static/assets/img//papel.png);"></div>
        </a>
        <div class="textos_sesion_iniciada">
            <h2>gestion documental</h2>
        </div>

    </div>

    
</div>



{%endblock%}